docs/superpowers/n8n/task-7-workflow.json
{
  "name": "AlFath Bot",
  "nodes": [
    {
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 400],
      "webhookId": "aaaabbbb-cccc-dddd-eeee-ffffaaaabbbb",
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    },
    {
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "GetAllTeachers",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 400],
      "parameters": {
        "operation": "getAll",
        "documentId": { "__rl": true, "value": "PASTE_YOUR_SPREADSHEET_ID_HERE", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Teachers", "mode": "name" },
        "returnAll": true,
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "2", "name": "AlFath Google Sheets" }
      }
    },
    {
      "id": "aa111111-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "FindTeacher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400],
      "parameters": {
        "jsCode": "const userId = String($('Telegram Trigger').item.json.message.from.id);\nconst rows = $input.all().map(i => i.json);\nconst teacher = rows.find(r => String(r.telegram_user_id) === userId);\nreturn [{ json: teacher || {} }];"
      }
    },
    {
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Guard: Registered?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.teacher_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Send: Not Registered",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1120, 260],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Maaf, Anda belum terdaftar sebagai guru.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    },
    {
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "ParseCommand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 540],
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').item.json.message.text || '';\nconst firstLine = msg.split('\\n')[0].trim();\nconst rawCommand = firstLine.split(/\\s+/)[0].toLowerCase();\nconst command = rawCommand.split('@')[0];\nconst afterCmd = firstLine.slice(rawCommand.length).trim();\nconst restLines = msg.split('\\n').slice(1).join('\\n').trim();\nconst body = [afterCmd, restLines].filter(Boolean).join('\\n');\nreturn [{ json: { command, body } }];"
      }
    },
    {
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Route Command",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1340, 540],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "r1", "leftValue": "={{ $json.command }}", "rightValue": "/absen", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "absen"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "r2", "leftValue": "={{ $json.command }}", "rightValue": "/daftar", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "daftar"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
                "conditions": [{ "id": "r3", "leftValue": "={{ $json.command }}", "rightValue": "/menu", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "menu"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      }
    },
    {
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Send: Menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 680],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Perintah yang tersedia:\n/absen — catat kehadiran kelas (wali kelas)\n/daftar — tampilkan daftar siswa kelas Anda\n/menu — bantuan",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    },

    {
      "id": "dd000001-dddd-dddd-dddd-dddddddddddd",
      "name": "GetAllClasses_Daftar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1780, 540],
      "parameters": {
        "operation": "getAll",
        "documentId": { "__rl": true, "value": "PASTE_YOUR_SPREADSHEET_ID_HERE", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Classes", "mode": "name" },
        "returnAll": true,
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "2", "name": "AlFath Google Sheets" }
      }
    },
    {
      "id": "dd000002-dddd-dddd-dddd-dddddddddddd",
      "name": "FindClass_Daftar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 540],
      "parameters": {
        "jsCode": "const teacherId = $('FindTeacher').item.json.teacher_id;\nconst rows = $input.all().map(i => i.json);\nconst cls = rows.find(r => r.homeroom_teacher_id === teacherId);\nreturn [{ json: cls || {} }];"
      }
    },
    {
      "id": "dd000003-dddd-dddd-dddd-dddddddddddd",
      "name": "Guard_HasClass_Daftar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 540],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.class_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "dd000004-dddd-dddd-dddd-dddddddddddd",
      "name": "Send_NotHomeroom_Daftar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2440, 680],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Perintah ini hanya untuk wali kelas.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    },
    {
      "id": "dd000005-dddd-dddd-dddd-dddddddddddd",
      "name": "GetAllStudents_Daftar",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2440, 540],
      "parameters": {
        "operation": "getAll",
        "documentId": { "__rl": true, "value": "PASTE_YOUR_SPREADSHEET_ID_HERE", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Students", "mode": "name" },
        "returnAll": true,
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "2", "name": "AlFath Google Sheets" }
      }
    },
    {
      "id": "dd000006-dddd-dddd-dddd-dddddddddddd",
      "name": "BuildRoster_Daftar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 540],
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst classId = $('FindClass_Daftar').item.json.class_id;\nconst students = rows.filter(r => r.class_id === classId);\nconst roster = students.map((r, idx) => ({ idx: idx + 1, student_id: r.student_id, name: r.name }));\nreturn [{ json: { roster } }];"
      }
    },
    {
      "id": "dd000007-dddd-dddd-dddd-dddddddddddd",
      "name": "FormatDaftar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 540],
      "parameters": {
        "jsCode": "const roster = $('BuildRoster_Daftar').item.json.roster;\nconst className = $('FindClass_Daftar').item.json.class_name;\nconst list = roster.map(r => r.idx + '. ' + r.name).join('\\n');\nreturn [{ json: { text: 'Daftar siswa ' + className + ':\\n' + list } }];"
      }
    },
    {
      "id": "dd000008-dddd-dddd-dddd-dddddddddddd",
      "name": "Send_Daftar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3100, 540],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    },

    {
      "id": "ee000001-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "GetAllClasses_Absen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1780, 320],
      "parameters": {
        "operation": "getAll",
        "documentId": { "__rl": true, "value": "PASTE_YOUR_SPREADSHEET_ID_HERE", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Classes", "mode": "name" },
        "returnAll": true,
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "2", "name": "AlFath Google Sheets" }
      }
    },
    {
      "id": "ee000002-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "FindClass_Absen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 320],
      "parameters": {
        "jsCode": "const teacherId = $('FindTeacher').item.json.teacher_id;\nconst rows = $input.all().map(i => i.json);\nconst cls = rows.find(r => r.homeroom_teacher_id === teacherId);\nreturn [{ json: cls || {} }];"
      }
    },
    {
      "id": "ee000003-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Guard_HasClass_Absen",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2220, 320],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.class_id }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ee000004-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Send_NotHomeroom_Absen",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2440, 160],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Perintah ini hanya untuk wali kelas.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    },
    {
      "id": "ee000005-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "GetAllStudents_Absen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2440, 320],
      "parameters": {
        "operation": "getAll",
        "documentId": { "__rl": true, "value": "PASTE_YOUR_SPREADSHEET_ID_HERE", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Students", "mode": "name" },
        "returnAll": true,
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "2", "name": "AlFath Google Sheets" }
      }
    },
    {
      "id": "ee000006-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "BuildRoster_Absen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2660, 320],
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst classId = $('FindClass_Absen').item.json.class_id;\nconst students = rows.filter(r => r.class_id === classId);\nconst roster = students.map((r, idx) => ({ idx: idx + 1, student_id: r.student_id, name: r.name }));\nreturn [{ json: { roster } }];"
      }
    },
    {
      "id": "ee000007-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Guard_BodyEmpty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2880, 320],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $('ParseCommand').item.json.body }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isEmpty", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ee000008-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "FormatInstructions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 160],
      "parameters": {
        "jsCode": "const roster = $('BuildRoster_Absen').item.json.roster;\nconst className = $('FindClass_Absen').item.json.class_name;\nconst list = roster.map(r => r.idx + '. ' + r.name).join('\\n');\nconst text = 'Absensi ' + className + '. Balas dengan baris [no] [T/S/I/A] [alasan]\\nContoh:\\n2 S demam\\n1 T 18:10\\nAtau ketik nihil jika semua hadir.\\n\\n' + list;\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "ee000009-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Send_Instructions",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3320, 160],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    },
    {
      "id": "ee000010-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "ParseAbsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 320],
      "parameters": {
        "jsCode": "const EXCEPTION_STATUSES = ['T', 'S', 'I', 'A'];\nconst ALL_PRESENT_WORDS = ['nihil', 'semua hadir', 'hadir semua'];\nfunction parseAttendanceMessage(text, roster) {\n  const result = { allPresent: false, exceptions: [], errors: [] };\n  const trimmed = (text || '').trim();\n  if (trimmed === '') {\n    result.errors.push('Pesan kosong. Ketik nihil jika semua hadir.');\n    return result;\n  }\n  if (ALL_PRESENT_WORDS.includes(trimmed.toLowerCase())) {\n    result.allPresent = true;\n    return result;\n  }\n  const seen = new Set();\n  const lines = trimmed.split('\\n').map(l => l.trim()).filter(l => l !== '');\n  for (const line of lines) {\n    const tokens = line.split(/\\s+/);\n    const num = Number(tokens[0]);\n    const entry = roster.find(r => r.idx === num);\n    if (!Number.isInteger(num) || !entry) {\n      result.errors.push('Nomor tidak dikenal: ' + tokens[0]);\n      continue;\n    }\n    if (seen.has(num)) {\n      result.errors.push('Nomor ' + num + ' ditulis dua kali.');\n      continue;\n    }\n    const status = (tokens[1] || '').toUpperCase();\n    if (!EXCEPTION_STATUSES.includes(status)) {\n      result.errors.push('Status tidak valid: ' + tokens[1] + ' (pakai T/S/I/A).');\n      continue;\n    }\n    seen.add(num);\n    result.exceptions.push({ student_id: entry.student_id, name: entry.name, status: status, reason: tokens.slice(2).join(' ') });\n  }\n  return result;\n}\nconst roster = $('BuildRoster_Absen').item.json.roster;\nconst body = $('ParseCommand').item.json.body;\nconst parsed = parseAttendanceMessage(body, roster);\nconst classId = $('FindClass_Absen').item.json.class_id;\nconst teacherId = $('FindTeacher').item.json.teacher_id;\nconst now = $now.setZone('Asia/Jakarta');\nconst ts = now.toISO();\nconst dateStr = now.toFormat('yyyy-LL-dd');\nif (parsed.errors.length) {\n  return [{ json: { ok: false, text: 'Ada kesalahan:\\n- ' + parsed.errors.join('\\n- ') } }];\n}\nconst rows = parsed.exceptions.map(e => ({ timestamp: ts, date: dateStr, student_id: e.student_id, class_id: classId, status: e.status, reason: e.reason, recorded_by: teacherId }));\nconst counts = { T: 0, S: 0, I: 0, A: 0 };\nparsed.exceptions.forEach(e => { counts[e.status]++; });\nconst hadir = roster.length - counts.S - counts.I - counts.A;\nconst summary = '✅ Tercatat. ' + hadir + ' Hadir, ' + counts.T + ' Terlambat, ' + counts.S + ' Sakit, ' + counts.I + ' Izin, ' + counts.A + ' Alpa.';\nreturn [{ json: { ok: true, rows: rows, log: { timestamp: ts, date: dateStr, class_id: classId, recorded_by: teacherId }, text: summary } }];"
      }
    },
    {
      "id": "ee000011-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Guard_ParseOk",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3320, 320],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "ee000012-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Send_Errors",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3540, 160],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    },
    {
      "id": "ee000013-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "SplitExceptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 280],
      "parameters": {
        "jsCode": "const rows = $input.first().json.rows;\nreturn rows.map(r => ({ json: r }));"
      }
    },
    {
      "id": "ee000014-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "AppendAttendance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [3760, 280],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "PASTE_YOUR_SPREADSHEET_ID_HERE", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Attendance", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "date": "={{ $json.date }}",
            "student_id": "={{ $json.student_id }}",
            "class_id": "={{ $json.class_id }}",
            "status": "={{ $json.status }}",
            "reason": "={{ $json.reason }}",
            "recorded_by": "={{ $json.recorded_by }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": { "valueInputMode": "USER_ENTERED" }
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "2", "name": "AlFath Google Sheets" }
      }
    },
    {
      "id": "ee000015-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "ExtractLog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 420],
      "parameters": {
        "jsCode": "const log = $input.first().json.log;\nreturn [{ json: log }];"
      }
    },
    {
      "id": "ee000016-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "AppendAttendanceLog",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [3760, 420],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "PASTE_YOUR_SPREADSHEET_ID_HERE", "mode": "id" },
        "sheetName": { "__rl": true, "value": "AttendanceLog", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "date": "={{ $json.date }}",
            "class_id": "={{ $json.class_id }}",
            "recorded_by": "={{ $json.recorded_by }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": { "valueInputMode": "USER_ENTERED" }
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "2", "name": "AlFath Google Sheets" }
      }
    },
    {
      "id": "ee000017-eeee-eeee-eeee-eeeeeeeeeeee",
      "name": "Send_Summary",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3980, 420],
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('ParseAbsen').item.json.text }}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "AlFath Telegram" }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "GetAllTeachers", "type": "main", "index": 0 }]]
    },
    "GetAllTeachers": {
      "main": [[{ "node": "FindTeacher", "type": "main", "index": 0 }]]
    },
    "FindTeacher": {
      "main": [[{ "node": "Guard: Registered?", "type": "main", "index": 0 }]]
    },
    "Guard: Registered?": {
      "main": [
        [{ "node": "ParseCommand", "type": "main", "index": 0 }],
        [{ "node": "Send: Not Registered", "type": "main", "index": 0 }]
      ]
    },
    "ParseCommand": {
      "main": [[{ "node": "Route Command", "type": "main", "index": 0 }]]
    },
    "Route Command": {
      "main": [
        [{ "node": "GetAllClasses_Absen", "type": "main", "index": 0 }],
        [{ "node": "GetAllClasses_Daftar", "type": "main", "index": 0 }],
        [{ "node": "Send: Menu", "type": "main", "index": 0 }],
        [{ "node": "Send: Menu", "type": "main", "index": 0 }]
      ]
    },
    "GetAllClasses_Daftar": {
      "main": [[{ "node": "FindClass_Daftar", "type": "main", "index": 0 }]]
    },
    "FindClass_Daftar": {
      "main": [[{ "node": "Guard_HasClass_Daftar", "type": "main", "index": 0 }]]
    },
    "Guard_HasClass_Daftar": {
      "main": [
        [{ "node": "GetAllStudents_Daftar", "type": "main", "index": 0 }],
        [{ "node": "Send_NotHomeroom_Daftar", "type": "main", "index": 0 }]
      ]
    },
    "GetAllStudents_Daftar": {
      "main": [[{ "node": "BuildRoster_Daftar", "type": "main", "index": 0 }]]
    },
    "BuildRoster_Daftar": {
      "main": [[{ "node": "FormatDaftar", "type": "main", "index": 0 }]]
    },
    "FormatDaftar": {
      "main": [[{ "node": "Send_Daftar", "type": "main", "index": 0 }]]
    },
    "GetAllClasses_Absen": {
      "main": [[{ "node": "FindClass_Absen", "type": "main", "index": 0 }]]
    },
    "FindClass_Absen": {
      "main": [[{ "node": "Guard_HasClass_Absen", "type": "main", "index": 0 }]]
    },
    "Guard_HasClass_Absen": {
      "main": [
        [{ "node": "GetAllStudents_Absen", "type": "main", "index": 0 }],
        [{ "node": "Send_NotHomeroom_Absen", "type": "main", "index": 0 }]
      ]
    },
    "GetAllStudents_Absen": {
      "main": [[{ "node": "BuildRoster_Absen", "type": "main", "index": 0 }]]
    },
    "BuildRoster_Absen": {
      "main": [[{ "node": "Guard_BodyEmpty", "type": "main", "index": 0 }]]
    },
    "Guard_BodyEmpty": {
      "main": [
        [{ "node": "FormatInstructions", "type": "main", "index": 0 }],
        [{ "node": "ParseAbsen", "type": "main", "index": 0 }]
      ]
    },
    "FormatInstructions": {
      "main": [[{ "node": "Send_Instructions", "type": "main", "index": 0 }]]
    },
    "ParseAbsen": {
      "main": [[{ "node": "Guard_ParseOk", "type": "main", "index": 0 }]]
    },
    "Guard_ParseOk": {
      "main": [
        [
          { "node": "SplitExceptions", "type": "main", "index": 0 },
          { "node": "ExtractLog", "type": "main", "index": 0 }
        ],
        [{ "node": "Send_Errors", "type": "main", "index": 0 }]
      ]
    },
    "SplitExceptions": {
      "main": [[{ "node": "AppendAttendance", "type": "main", "index": 0 }]]
    },
    "ExtractLog": {
      "main": [[{ "node": "AppendAttendanceLog", "type": "main", "index": 0 }]]
    },
    "AppendAttendanceLog": {
      "main": [[{ "node": "Send_Summary", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "pinData": {}
}
